@charset "UTF-8";

      body {
        margin: 0;
      }

      div {
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        background-image: url(bgtile.png);
        border: 10px solid white;
      }	

	.highlight {
  		color: white;
  		background-color: black;
  		padding: 10px;
  		width: 250px;
  		text-align: center;
		}
		
		
      