@charset "UTF-8";

      form {
        width: 300px;
      }

      button {
        width: 120px;
      }
      
      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
}