<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajax</title>

<link href="css/ajax.css" rel="stylesheet"></link>
</head>
<body>

<h1>Ajax Starting Point</h1>

<form action="">
	<label for="verse-choose">Choose Verse</label>
	<select id="verse-choose" name="verse-choose">
		<option>Verse 1</option>
		<option>Verse 2</option>
		<option>Verse 3</option>
		<option>Verse 4</option>
	</select>
</form>

<h2>The Conqureror Worm<em>Edgal Alen Poem 1894</em></h2>

<pre>
</pre>

<script type="text/javascript" src="js/ajax.js"></script>
</body>
</html>