<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Animation Sample</title>

<link href="css/animation.css" rel="stylesheet"></link>

</head>
<body>

    <p>This is my Animation page</p>
    
    <!-- 
    <div>
    	↻
    </div>
     -->
     
    <div class="spinner"><div><p>↻</p></div></div>

    <section class="ui">
      <div class="topbar">
        <p class="p1">Player 1: "A"</p>
        <p class="p2">Player 2: "L"</p>
        <div class="middlebar">
          <button>Start game</button>
          <p class="result"></p>
        </div>
      </div>
    </section>
    
    <p id="demo"></p>

<script type="text/javascript" src="js/animation.js"></script>
</body>
</html>