<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sample APIs</title>
<link href="css/apis.css" rel="stylesheet"></link>
</head>
<body>

<!-- 
<audio src="images/outfoxing.mp3"></audio>

<button class="paused">Play</button>
<br>
<input type="range" min="0" max="1" step="0.01" value="1" class="volume">

<p><em>'em' text</em></p></br>

<p></p>
<p class="a"></p>
<p class="b"></p>

      <section>
        <img src="images/dinosaur.png" alt="A red Tyrannosaurus Rex: A two legged dinosaur standing upright like a human, with small arms, and a large head with lots of sharp teeth.">
        <p class="link">Here we will add a link to the <a href="https://www.mozilla.org/">Mozilla homepage</a></p>
      </section>
       -->
       
      <div class="win">
      </div>

<canvas>
</canvas>


    <h1>My shopping list</h1>

    <div class="shop">
      <label for="item">Enter a new item:</label>
      <input type="text" name="item" id="item">
      <button>Add item</button>
    </div>

    <ul>

    </ul>

<script type="text/javascript" src="js/apis.js"></script>
</body>
</html>