<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Draw Board</title>
<link href="css/draw.css" rel="stylesheet"></link>
</head>
<body>

    <div class="toolbar">
      <input type="color" aria-label="select pen color">
      <input type="range" min="2" max="50" value="30" aria-label="select pen size">
      <span class="output">30</span>
      <button>Clear canvas</button>
    </div>

    <canvas class="myCanvas">
      <p>Add suitable fallback here.</p>
    </canvas>
    
    <script type="text/javascript" src="js/draw.js"></script>
</body>
</html>