<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Event</title>
    
    <link rel="stylesheet" href="css/event.css" />

  </head>

  <body>
  
    <section class="preview">
    </section>

    <canvas width="480" height="320" tabindex="0">

    </canvas>

<button id="buttonId">Click me</button>

<div id="buttons">
  <button class="buttonClass">Click 1</button>
  <button class="buttonClass">Click 2</button>
  <!-- buttons... -->
  <button class="buttonClass">Click 3</button>
</div>
 
    <div class="button-bar">
      <button data-color="red">Red</button>
      <button data-color="yellow">Yellow</button>
      <button data-color="green">Green</button>
      <button data-color="purple">Purple</button>
    </div>
    
    <h1>Image gallery example</h1>

	<div class="full-img">
  		<img class="displayed-img" src="images/pic1.jpg">
  		<div class="overlay"></div>
  		<button class="dark">Darken</button>
	</div>

	<div class="thumb-bar"></div>
	

      <script src="js/event.js"></script>
    
  </body>
</html>