<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Functions</title>

  </head>

  <body>
  
    <button class="circle">Update</button>
    
      <button class="hi">Say Hi</button>
    
     <button class="test">Test Button</button>

  <canvas></canvas>
  

<section class="preview">
</section>

<section class="book">
</section>

<section class="prime">
</section>

      <script src="js/funny.js"></script>
  </body>
</html>