<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Image Gallery</title>
    
    <link rel="stylesheet" href="css/galery.css" />

  </head>

  <body>
    
    <h1>Image gallery example</h1>

	<div class="full-img">
  		<img class="displayed-img" src="images/pic1.jpg">
  		<div class="overlay"></div>
  		<button class="dark">Darken</button>
	</div>

	<div class="thumb-bar"></div>
	
	<p>New sample</p>
	
	<h1>Gallery 2</h1>
	<div class="full-img">
		<img class="displayed-img2" src="images/pic1.jpg">
		<div class="overlay"></div>
		<button class="dark">Darken</button>
	</div>
	
	<div class="thumb-bar2"></div>

      <script src="js/galery.js"></script>
    
  </body>
</html>