<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Timeouts and Intervals</title>

    <link href="css/interval.css" rel="stylesheet"></link>

</head>
<body>
<h1>Give someone a greeting</h1>
<form>
	<div>
		<label for="name">Enter a name:</label>
		<input type="name" id="name" required>
	</div>
	<div>
		<button class="greet">Greet!</button>
	</div>
</form>

<p><button class="cancel">Cancel Greeting!</button></p>

<p id="demo"></p>

<p class="clock"></p>

</body>
<script type="text/javascript" src="js/interval.js"></script>

</html>