<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Form Validation</title>
    
    <link href="css/validation.css" rel="stylesheet"></link>

  </head>

  <body>
  
  <form>
  	<div>
  		<label for="fname">First Name:</label>
  		<input id="fname" type="text">
  	</div>
  	<div>
  		<label for="lname">Last Name:</label>
  		<input id="lname" type="text">
  	</div>
  	<div>
  		<input id="submit" type="submit">
  	</div>
  </form>
  <p></p>
  
  
      <button>Display video</button>

    <div class="hidden">
      <video>
        <source src="video/rabbit320.mp4" type="video/mp4">
        <source src="video/rabbit320.webm" type="video/webm">
        <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.mp4">link to the video</a> instead.</p> 
      </video>
    </div>

      <script src="js/valid.js"></script>
  </body>
</html>